version: "2"
services:
  bettor-league-phpmyadmin:
    container_name: bettor-league-phpmyadmin
    image: phpmyadmin/phpmyadmin
    ports:
      - "8090:80"
    environment:
      - MYSQL_USERNAME=root
      - MYSQL_PASSWORD=root
    links:
      - database:db
  database:
    container_name: bettor-league-database
    image: mysql:5.7
    ports:
      - "3306:3306"
    volumes:
      - ./databaseProd:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=bettorLeagueDatabase
  bettor-league-api:
    container_name: bettor-league-api
    image: nadjim/bettor-league-api
    restart: always
    ports:
      - "8080:8080"
    environment:
      - DATABASE_HOST=database
      - DATABASE_USER=root
      - DATABASE_PASSWORD=root
      - DATABASE_NAME=bettorLeagueDatabase
      - DATABASE_PORT=3306
    depends_on:
      - database
    external_links:
      - bettor-league-logstash

networks:
  default:
    external:
      name: bettor-league-network