<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true" monitorInterval="30">

    <Properties>
        <Property name="defaultpattern">date=(%d{ISO8601}) thread=(%thread) level=(%level) class=(%logger{36}) message=(%msg)%n</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="${defaultpattern}"/>
        </Appender>
        <Socket name="socket" host="bettor-league-logstash" port="9999" reconnectionDelayMillis="5000">
            <Layout type="PatternLayout" pattern="${defaultpattern}" />
        </Socket>

        <RollingFile name="File"
                     fileName="logs/bettor-league.log"
                     filePattern="logs/bettor-league.log">
            <PatternLayout pattern="${defaultpattern}"/>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>x
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.sarp.elk" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="socket"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="socket"/>
        </Root>
    </Loggers>

</Configuration>